<aside class="col-md-2 col-xs-12 no-padding white text-decoration-none">
    <div class="text-uppercase">
        <a href="#" type="button">
            <div class="background-blue buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-pencil buffer-margin-extra-small-horizontal'></i> Edit Project
            </div>
        </a>
        <a href="#" type="button">
            <div class="background-blue buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-pencil buffer-margin-extra-small-horizontal'></i> Edit Client
            </div>
        </a>
        <a href="#" type="button">
            <div class="background-blue buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-pencil buffer-margin-extra-small-horizontal'></i> Edit Contact
            </div>
        </a>
    </div>
    <div class="background-blue-green-gardient-right-diagnol buffer-padding-extra-small col-xs-12 no-padding-right">
        <div class="text-capitalize">
            <h2>Upgrade your potential.</h2>
            <ul class="list-style-dashed list-unstyled font-size-70">
                <li>No display ads</li>
                <li>More payment options</li>
                <li>White labeling</li>
                <li>Lower transaction fees</li>
                <li>Premium management features</li>
            </ul>
        </div>
        <div class="col-xs-12 no-padding-left">
            <hr class="buffer-margin-tiny">
        </div>
        <a href="#" class="font-size-70">
            <strong>Click here</strong> to learn more about
            <strong>Payfol.io Premium Memberships</strong>
        </a>
    </div>
</aside>

<div class="col-md-8 col-xs-12">
    <div class="background-white border-top-blue-1 dashboard-box-shadow border-radius-2 buffer-padding-small container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("file-image-o", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Profile Name
            </p>
            <div class="dropdown col-xs-1 col-xs-offset-1">
                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <table class="width-100">
                <thead>
                    <tr>
                        <th class="col-xs-3">Project</th>
                        <th class="col-xs-3">Type</th>
                        <th class="col-xs-3">Client</th>
                        <th class="col-xs-3">Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-xs-3">Project name</td>
                        <td class="col-xs-3">Project type</td>
                        <td class="col-xs-3">Project client</td>
                        <td class="col-xs-3">Project updated_at</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="background-white border-top-red-1 dashboard-box-shadow border-radius-2 buffer-padding-small no-padding-bottom container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("envelope", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Messages
            </p>
            <div class="dropdown col-xs-2">
                <div class="background-green white text-center col-xs-6 col-xs-offset-2"> 8 </div>

                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <ul class="list-unstyled scroll-vertically col-xs-12 no-margin buffer-padding-small" style="height: 300px;">
                <li>
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
                <li class="text-right">
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey what's up how's your day going? </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
                <li>
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
                <li class="text-right">
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey what's up how's your day going? </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
                <li>
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
                <li class="text-right">
                    <div class="background-light-blue buffer-padding-extra-small buffer-padding-small-horizontal border-radius-10 display-inline-block"> hey what's up how's your day going? </div>
                    <div class="buffer-padding-small-horizontal">
                        <i class="glyphicon triangle-bottom-light-blue-20" style="top: 0;"></i>
                    </div>
                    <div>Person name <span class="gray">9:09 AM</span></div>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control no-border no-border-radius background-light-blue" id="message" name="message" placeholder="Send a message...">
                <span class="input-group-btn">
                    <button class="btn btn-info no-border-radius" type="submit">Send</button>
                </span>
            </div>
        </div>
    </div>

</div>

<aside class="col-md-2 col-xs-12 no-padding white text-decoration-none">
    <div class="text-uppercase">
        <a href="#" type="button">
            <div class="background-green buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-ok buffer-margin-extra-small-horizontal'></i> Get approval
            </div>
        </a>
        <a href="#" type="button">
            <div class="background-green buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-share-alt buffer-margin-extra-small-horizontal'></i> Share to client
            </div>
        </a>
        <a href="#" type="button">
            <div class="background-green buffer-padding-extra-small buffer-padding-tiny-horizontal buffer-margin-extra-small no-margin-top">
                <i class='glyphicon glyphicon-floppy-disk buffer-margin-extra-small-horizontal'></i> Save project
            </div>
        </a>
    </div>
</aside>
